# Ultralytics requirements
# Example: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.8.3
numpy>=1.26.4 # pinned by Snyk to avoid a vulnerability
opencv-python>=4.8.1.78
pillow>=7.1.2
pyyaml>=5.3.1
requests>=2.23.0
scipy>=1.4.1
#torch>=1.8.0
#torchvision>=0.9.0
tqdm>=4.64.0

# Logging -------------------------------------
# tensorboard>=2.13.0
# dvclive>=2.12.0
# clearml
comet

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export --------------------------------------
# coremltools>=6.0,<=6.2  # CoreML export
onnx>=1.15.0  # ONNX export
onnxruntime>=1.16.3; python_version != '3.9' and sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-coreml>=1.13.1; python_version == '3.9' and sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-silicon>=1.16.0; sys_platform == 'darwin' and platform_machine == 'arm64'
# onnxruntime-gpu>=1.16.3; sys_platform != 'darwin'
onnxsim>=0.4.35
onnxoptimizer>=0.3.13

nvidia-pyindex; sys_platform != 'darwin' # TensorRT export
nvidia-tensorrt; sys_platform != 'darwin'  # TensorRT export
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TF exports (-cpu, -aarch64, -macos)
# tflite-support
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev>=2023.0  # OpenVINO export

# Extras --------------------------------------
psutil  # system utilization
py-cpuinfo  # display CPU info
# thop>=0.1.1  # FLOPs computation
# ipython  # interactive notebook
# albumentations>=1.0.3  # training augmentations
pycocotools>=2.0.7  # COCO mAP
hub-sdk>=0.0.4  # PyTorch Hub
vidgear[asyncio]
simplejpeg

# roboflow
