th, td {
	border: 0.5px solid var(--md-typeset-table-color);
	border-spacing: 0px;
	border-bottom: none;
	border-left: none;
	border-top: none;
}
.md-typeset__table {
	min-width: 100%;
	line-height: 1;
}
.md-typeset table:not([class]) {
	display: table;
}
