/* Table format like GitHub ----------------------------------------------------------------------------------------- */
th,
td {
  border: 1px solid var(--md-typeset-table-color);
  border-spacing: 0;
  border-bottom: none;
  border-left: none;
  border-top: none;
}

.md-typeset__table {
  line-height: 1;
}

.md-typeset__table table:not([class]) {
  font-size: 0.74rem;
  border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
  padding: 9px;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
  background-color: #161b22;
}
/* Table format like GitHub ----------------------------------------------------------------------------------------- */

/* Code block vertical scroll */
div.highlight {
  max-height: 20rem;
  overflow-y: auto; /* for adding a scrollbar when needed */
}

/* Set content width */
.md-grid {
  max-width: 1440px;
}

/* Language dropdown selector (default is shorter 200px in length) */
/* Not working as activates on hover under icon area
body .md-select__inner {
    max-height: 500px !important;
}
*/
